{% extends "appbuilder/general/model/show.html" %}


{% block show_form %}

   <div class="news-content" id="news-content">
      {% set record = get_model (pk) %}
      <H1>{{ record.title }}</H1>
      <div class="news-byline">
         {% set news_created = record.created_on.strftime ('%Y-%m-%d') %}
         Created by {{ record.created_by }} on {{ news_created }}
      </div>
      <div class="news-body">
         {{ record.body }}
      </div>
   </div>

   <div class="well well-sm">
       {{ lib.lnk_back() }}
   </div>

{% endblock show_form %}
