<div class="row img-rounded">
    <hr><small>
   <div class="col-md-4">
      Version {{ config.APP_VERSION }}.
      Created by Paul Agapow of the Data Science Institute,
      Imperial College London, 2017. Code available on
      <A href="http://github.com/agapow/egas">github</A>.
   </div>
   <div class="col-md-4">
      <b>Total number of associations currently stored:</b> {{ get_total_associations() }}
   </div>
   <div class="col-md-4">
      <b>Latest news:</b>  {{ get_latest_news() }}
   </div>
</div>
