{% extends "appbuilder/base.html" %}

{% block content %}
<h2><center>{{_('Welcome to the epigenetic web service')}}<center></h2>

<p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum consequat semper. Sed ullamcorper dolor non porta feugiat. Fusce rhoncus enim erat, pharetra porttitor eros gravida quis. Etiam id vehicula ex, ut elementum enim. Pellentesque vulputate ipsum lacus, sed sagittis purus cursus sit amet. Vivamus in porttitor lorem, at accumsan nibh. Proin quis nunc molestie felis consequat pretium.
</p>

<p>
   From here you can:
   <ul>
      <li>Log in</li>
      <li>Browse and search CpG-methylation associations</li>
      <li>Create and upload new association (admins only)</li>
   </ul>
</p>

<p>
   Sed cursus nisl nibh, vel imperdiet ante dignissim eu. Quisque euismod ac diam at finibus. Quisque odio est, tristique vel tristique quis, interdum a nulla. Duis et sapien non ligula ultrices blandit. Cras id nulla consequat, dictum arcu sed, cursus dui. Aenean egestas tristique dictum. Donec facilisis quam aliquam leo congue, vel pellentesque orci tempor. Proin sit amet ligula euismod, elementum neque et, vulputate erat. Aenean sed diam lacus. Proin ut placerat arcu, eget eleifend diam. Maecenas porta nisl eget sodales convallis. Sed eget diam lorem. Sed accumsan euismod augue, dapibus dictum eros tincidunt vel. Pellentesque dapibus dui vel erat maximus imperdiet. Pellentesque non euismod tortor.
</p>
<div class="well" style='padding: auto;'>
<img src='/static/img/meth-canc.png' height='200px'>
<img src='/static/img/cpg-island.png' height='200px'>
</div>
{% endblock %}
